@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Moderustic;
    font-size: 20px;
    background-color: rgb(152, 220, 252);
}
.container {
    max-width: 500px;
    margin: auto    ;
}
.info {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    max-width: 470px;
}

@media (max-width: 500px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info .about {
    font-size: 12px;
    margin-top: 35px;
    background: coral;
    color: white;
}
.image {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.about ul li{
    list-style: none;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.another h2 {
    text-align: center;
    color: coral;
}
.another ol{
    list-style: none;
    text-align: center;
}

.call {
    display: flex;
}
a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    border-bottom: 4px solid orange;
    color: rgb(152, 220, 252);;
}

.table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.work h2 {
    text-align: center;
    color: rgb(152, 220, 252)
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(odd) { 
    color: coral;
}

.table td:nth-child(even) {
    color: rgb(152, 220, 252);
}
.page {
    padding: 10px 15px;
    border-radius: 10px;
    background: white;
    margin: 10px 15px;
}

.call {
    background: coral;
}

.form {
    margin-top: 10px;
    margin-left: 15px;
    background: coral;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 470px;
    box-sizing: border-box;
    display: block;
    
}

.form h2 {
    color: white;
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .group:last-child {
    margin-right: 0;    
}

@media (max-width: 500px) {
    .form-row {
        display: block;
    }

    .form-row .group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.group label {
    display: block;
    color:white;
}

.group input,
.group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    font-family: Moderustic;
}

button {
    background-color: rgb(152, 220, 252);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}